
     <%-include('adminHeader.ejs')%>
     <style>
         .custom-form {
             max-width: 400px;
             height: 485px;
             margin: auto;
             margin-top: 100px;
             padding-bottom: 50px
         }
         .edit{
             margin-left: 10px;
         }
     </style>
    <form action="/add-coupon" method="post" onsubmit="return validate()" id="add-coupon">
        <div class="container">
            <div class="custom-form">
                <h2 class="mb-4">Coupon-Management</h2>
                
                <div class="bg-danger" id="error-message-container"></div>
                    <div class="form-group">
                        <label for="name">Discount Type:</label>
                        <select id="discountType" name="discountType">
                            <option>Minimum Purchase</option>
                            <option>First Purchase</option>
                        </select>
                                         
                    </div>
                    <div class="form-group">
                        <label for="name">Discount Value (in %):</label>
                        <input type="text" name="discountValue" id="discountValue">
                                         
                    </div>
                    <div class="form-group">
                        <label for="name">Minimum Purchase Amount:</label>
                        <input type="text" name="minimumCartAmount" id="minimumCartAmount">
                                         
                    </div>
                    <div class="form-group">
                        <label for="name">Expiry Date</label>
                       <input type="date" name="expiry" id="expiry">
                                         
                    </div>
        
                    
                    <button type="submit" class="btn btn-primary">Insert</button>
                
            </div>
        </div>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('add-coupon');
    
            if (form) {
                form.addEventListener('submit', function (e) {
                    e.preventDefault();
    
                    // Validate the form
                    if (validate()) {
                        // SweetAlert for successful validation
                        Swal.fire({
                            icon: 'success',
                            title: 'Coupon Inserted',
                            text: 'New coupon has been successfully inserted.',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // If the user clicks 'Yes', submit the form
                                form.submit();
                            }
                        });
                    }
                });
            }
        });
    
        function validate() {
            let discountValue = document.getElementById("discountValue");
            let minimumCartAmount = document.getElementById("minimumCartAmount");
            const expiryInput = document.getElementById("expiry");
    
            const errorMessageContainer = document.getElementById("error-message-container");
    
            let trimmedDiscountValue = discountValue.value.trim();
            let expression = /^[0-9]+$/;
            let expiryDate = new Date(expiryInput.value);
            let currentDate = new Date();
    
            errorMessageContainer.innerText = "";
    
            if (trimmedDiscountValue === "") {
                errorMessageContainer.innerText = "Please fill the field";
                return false;
            }
            if (!expression.test(trimmedDiscountValue)) {
                errorMessageContainer.innerText = "Type positive numbers only";
                return false
            }
            if (parseInt(trimmedDiscountValue, 10) >= 100) {
                errorMessageContainer.textContent = "Enter a value less than 100%";
                return false;
            }
            if (parseInt(trimmedDiscountValue, 10) <= 0) {
                errorMessageContainer.textContent = "Enter a value greater than 0%";
                return false;
            }
            if (minimumCartAmount.value <= 0) {
                errorMessageContainer.textContent = "Enter a value greater than 0";
                return false;
            }
            if (expiryDate <= currentDate) {
                errorMessageContainer.textContent = "Please enter a future date";
                return false;
            }
    
            return true;
        }
    </script>
    
<%-include('adminFooter.ejs')%>