<!-- jQuery -->
<script src="/js/adminJs/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/adminJs/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/adminJs/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/js/adminJs/raphael.min.js"></script>
<script src="/js/adminJs/morris.min.js"></script>
<script src="/js/adminJs/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/adminJs/startmin.js"></script>

</body>

</html>