<%-include("header.ejs")%>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header text-white" style="background: #0b091f;">
                        <h4>Change Password</h4>
                    </div>
                    <div class="card-body-change-pass">
                        <p class="bg-danger text-white"><%=message%></p>
                        <form method="post" action="/change-password">
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Current Password</label>
                                <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Enter current password" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter new password" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm new password" required>
                            </div>
    
                            <button type="submit" class="btn" id="change-password">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>