<style>
 footer {
    position: relative;
    background-image: url('/homeimgs/footer2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, top right, center center;
    background-repeat: repeat-y, no-repeat, repeat;
    background-attachment: fixed, scroll, fixed;
}

</style>
<footer class="bg-body-tertiary text-center pt-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
        data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); color: white;">
      © 2023 Copyright:Pro Players
      
    </div>
    <!-- Copyright -->
  </footer>
<!-- End Footer -->


<!-- Bootstrap Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
    <!--Cart JS-->
<script src="/js/userJs/cart.js"></script>
<script>
          setTimeout(() => {
              document.getElementById('error-message-container').style.display = 'none';
              
              document.getElementById('message-container').style.display = 'none';
          }, 3000);
</script>



<script>
  function viewImage(event, index) {
      let input = event.target;
      let reader = new FileReader();

      reader.onload = function () {
          let dataURL = reader.result;
          let image = document.getElementById('imgView' + index);
          image.src = dataURL;

          // Initialize Cropper.js on the image
          let cropper = new Cropper(image, {
              aspectRatio: 1, // Initial aspect ratio
              viewMode: 1,
              guides: true,
              background: false,
              autoCropArea: 1,
              zoomable: true
          });

          // Show the image cropper container
          let cropperContainer = document.querySelector('#croppedImg' + index).parentNode;
          cropperContainer.style.display = 'block';

          // Update the cropped image when the "Save" button is clicked
          let saveButton = document.querySelector('#saveButton' + index);
          saveButton.addEventListener('click', function () {
              saveCroppedImage(cropper, index);
              cropperContainer.style.display = 'none';
          });
      };
      reader.readAsDataURL(input.files[0]);
  }

  function saveCroppedImage(cropper, index) {
      let croppedCanvas = cropper.getCroppedCanvas({
          width: 487,
          height: 203
      });
      let croppedImage = document.getElementById("croppedImg" + index);
      croppedImage.src = croppedCanvas.toDataURL('image/jpeg', 1.0);

      // Generate a unique name for the cropped image file based on the current timestamp
      let timestamp = new Date().getTime();
      let fileName = `cropped-img-${timestamp}-${index}.png`;

      // Create a Blob from the cropped canvas and save it as a File
      croppedCanvas.toBlob(blob => {
          let imgFile = new File([blob], fileName, { type: 'image/png' });

          // Update the input file with the new File
          let input = document.getElementById('input' + index);
          let fileList = new DataTransfer();
          fileList.items.add(imgFile);
          input.files = fileList.files;

          // If you want to upload the file, you can use FormData and send it to the server
          // const formData = new FormData();
          // formData.append('croppedImage', imgFile);
          // Perform an AJAX request to upload the file to the server
          // ...

          // If you just want to display the image or perform other actions, you can add your logic here
      }, 'image/png');
  }
</script>



</body>

</html>
