<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Startmin - Bootstrap Admin Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/vendors/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="css/vendors/metisMenu.min.css" rel="stylesheet">

  <!-- DataTables CSS -->
  <link href="css/vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="css/vendors/dataTables/dataTables.responsive.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/vendors/startmin.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="css/vendors/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Startmin</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
      <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">
      <li class="dropdown navbar-inverse">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <a href="#">
              <div>
                <i class="fa fa-comment fa-fw"></i> New Comment
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                <span class="pull-right text-muted small">12 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-envelope fa-fw"></i> Message Sent
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-tasks fa-fw"></i> New Task
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                <span class="pull-right text-muted small">4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="text-center" href="#">
              <strong>See All Alerts</strong>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.navbar-top-links -->
  </nav>

  <aside class="sidebar navbar-default" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">

        <li>
          <a href="adminPanel"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="/user-management"><i class="fa fa-table fa-fw"></i> user-management</a>
        </li>



        <li>
          <a href="#"><i class="fa fa-files-o fa-fw"></i> Product-Management<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="blank.html">Products</a>
            </li>
            <li>
              <a href="/category-management">Categories</a>
            </li>
            <li>
              <a href="/sub-category-management">Sub-Categories</a>
            </li>
            <li>
              <a href="login.html">genre</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </aside>
  <!-- /.sidebar -->




  <form class="form-horizontal" style="margin-top: 60px; margin-left: 50px;">
    <fieldset>

      <!-- Form Name -->
      <center>
        <legend>Product Management</legend>
      </center>

      <!-- Text input-->
      

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
        <div class="col-md-4">
          <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md"
            required="" type="text">

        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
        <div class="col-md-4">
          <select id="product_categorie" name="product_categorie" class="form-control">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="product_categorie">SUB CATEGORY</label>
        <div class="col-md-4">
          <select id="product_categorie" name="product_categorie" class="form-control">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PUBLISHER</label>
        <div class="col-md-4">
          <input id="product_name" name="product_name" placeholder="PUBLISHER" class="form-control input-md"
            required="" type="text">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">SIZE</label>
        <div class="col-md-4">
          <input id="product_name" name="product_name" placeholder="SIZE" class="form-control input-md"
            required="" type="text">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="available_quantity">TOTAL QUANTITY</label>
        <div class="col-md-4">
          <input id="available_quantity" name="available_quantity" placeholder="TOTAL QUANTITY"
            class="form-control input-md" required="" type="text">

        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
        <div class="col-md-4">
          <textarea class="form-control" id="product_description" name="product_description"></textarea>
        </div>
      </div>




      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="online_date">RELEASED DATE</label>
        <div class="col-md-4">
          <input id="online_date" name="online_date" placeholder="RELEASED DATE" class="form-control input-md" required=""
            type="text">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="online_date">PRICE</label>
        <div class="col-md-4">
          <input id="online_date" name="online_date" placeholder="PRICE" class="form-control input-md" required=""
            type="text">

        </div>
      </div>

          <!-- File Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">main_image</label>
            <div class="col-md-4">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div>
          <!-- File Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">auxiliary_images</label>
            <div class="col-md-4">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
            <div class="col-md-4">
              <button id="singlebutton" name="SUBMIT" class="btn btn-primary">SUBMIT</button>
            </div>
          </div>

    </fieldset>
  </form>


  <!-- jQuery -->
  <script src="/js/adminJs/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/adminJs/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/js/adminJs/metisMenu.min.js"></script>

  <!-- DataTables JavaScript -->
  <script src="/js/adminJs/dataTables/jquery.dataTables.min.js"></script>
  <script src="/js/adminJs/dataTables/dataTables.bootstrap.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/js/adminJs/startmin.js"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
    $(document).ready(function () {
      $('#dataTables-example').DataTable({
        responsive: true
      });
    });
  </script>
</body>

</html>