<%-include("header.ejs")%>
<body style="margin-top: 120px;">
    <div class="container">

        <div class="row d-flex justify-content-center mt-5">

            <div class="col-md-8">

                <div class="card">

                        <div class="invoice p-5">

                            <center><p style="font-size: 30px;">WALLET BALANCE</p></center>
                            <center><p style="font-size: 20px;">0Rs</p></center>

                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                                <table class="table table-borderless">
                                    
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Transaction Id</span>
                                                <span></span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Type</span>
                                                <span></span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">Amount</span>
                                                <span></span>
                                                    
                                                </div>
                                            </td>

                                            <td>
                                                <div class="py-2">

                                                    <span class="d-block text-muted">date</span>
                                                <span></span>
                                                
                                                </div>
                                                
                                            </td>
                                            
                                        </tr>
                                        
                                        
                                    </tbody>

                                </table>




                                
                            </div>




                               



                               


                           

                        </div>
                     


            
        </div>
                
            </div>
            
        </div>
        
    </div>

<%-include("footer.ejs")%>