@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@400;700&family=Rajdhani:wght@600;700&display=swap');
*{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}



.container{
    max-width: 1220px;
    
}
.btn-buy-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 14px 20px;
}



.price {
    color: #FF136F;
    margin-top: 20px;
}

.watch {
    background-image: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}

.bag {
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

.shoes {
    background-image: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}

.all-categories {
    background-color: #F4F4F4;
    padding: 10px 0 20px;
}

#shoes {
    margin-top: 30px;
}

#backpack {
    margin-top: 60px !important;
    margin-bottom: 45px;
}

small {
    font-size: 80%;
    font-weight: 400;
}
a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }
  
  .card {
    position: relative;
    overflow: hidden;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.all-categories {
    position: relative;
    background-image: url('/homeimgs/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, top right, center center;
    background-repeat: repeat-y, no-repeat, repeat;
    background-attachment: fixed, scroll, fixed;
}

.all-categories::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.592); 
}

.product-card {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}
.product-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-card:hover {
    transform: scale(1.05);
}
.card-body{
    background: #0d0e1b;
    color: white;
}
.search-button{
    border: 2px solid #fb7b24;
    color: white;
}
.search-button:hover{
    background: #fb7b24;
    color: white;
}
.Search{
    margin-left: 450px;
}

#view-btn {
    border:  2px solid#fb7b24;
    color: white;
}
#edit-address-save-btn{
    border:  2px solid#fb7b24;
    color: black;
}
#view-btn:hover,#edit-address-save-btn:hover{
    background:#fb7b24;
    color: white;
}

