@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@400;700&display=swap');

*{
  font-family: 'Kdam Thmor Pro', sans-serif;
}
.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}

span{
  font-family: 'Kdam Thmor Pro', sans-serif;
}



@media (min-width: 768px) {
  .custom-button {
    padding: 0.25em 0.75em;
  }
}

.form-control{
  border: 3px solid black ;
}
