#order-container {
    background: #eee;
    font-family: Assistant, sans-serif;
    margin-top: 120px;
    color: black;
    
}

.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    /*background-color: gold;*/
    background-clip: padding-box;
}

thead {
    background: #dddcdc;
}
.toggle-btn.active>.inner-circle {
    margin-left: 19px;
}
