<style>
 footer {
    position: relative;
    background-image: url('/homeimgs/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, top right, center center;
    background-repeat: repeat-y, no-repeat, repeat;
    background-attachment: fixed, scroll, fixed;
}
footer::before{
  content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.603);
}

</style>
<footer class="bg-body-tertiary text-center pt-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4" style="position: relative;">
       
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="border: 2px solid #fb7b24;"
          href="https://www.instagram.com/deepxcoder?igsh=MXNsbDV4YXhybGFqZQ=="
          role="button"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
        
      
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05); color: white;">
      © 2023 Copyright:Pro Players
      
    </div>
  </section>
    <!-- Copyright -->
  </footer>
<!-- End Footer -->


<!-- Bootstrap Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
    <!--Cart JS-->
<script src="/js/userJs/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
          setTimeout(() => {
              document.getElementById('error-message-container').style.display = 'none';
              
              document.getElementById('message-container').style.display = 'none';
          }, 3000);
</script>






</body>

</html>
