<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        *{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    
}
         body {
            background-image: url('/homeimgs/loginimgs.jpg'); /* Replace with your image path */
            background-size: cover;
            background-position: center;
            height: 90vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        body::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the overlay darkness */
        }


       
        .card {
            border:  none;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 300px;
            width: 100%;
            text-align: center;
            z-index: 2;
        }
        form {
            margin-top: 20px;
        }
        label {
            display: block;
            text-align: left;
            margin-bottom: 8px;
        }
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }
        button {
            background-color: #ffffff00;
            border: 2px solid #ff9d35;
            color: black;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="card">
        <h2>Password Reset</h2>
        <div class="message" style="color: rgba(255, 0, 0, 0.548);" id="message"></div>
        <form id="resetForm" onsubmit="return validate()" action="/reset-password/new-password" method="post">
            <label for="email">Enter new password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <br><br>
            <button type="submit">Reset Password</button>
        </form>
    </div>

    
</body>
<script>
    function validate(){
        var newPass = document.getElementById('newPassword').value
        var message = document.getElementById('message')
        message.innerText = ""
        if(newPass.length<=4){
            message.innerText = "Please add length to the password"
            return false
        }
        return true
    }
</script>
</html>
