<%-include('header.ejs')%>
        <div class="container">
            <div class="main-body">
            
                <!-- /Breadcrumb -->

                <div class="row gutters-sm d-flex mt-5">

                    
                    <div class="col-md-8 mt-5">
                    	<div class="card">
                            <form action="/add-address" method="post" onsubmit="return validate()">
                            <div class="card-body-add-address">
                                <div class="row mb-3">
                                    <div class="bg-danger text-white" id="error-message-container"></div>
                                    
                                </div>
                                
                                
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h5 class="mb-0">Address</h5>
                                    </div>
                                    
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mobile</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="mobile" id="phone" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">House Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="houseName" id="houseName" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Street</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="street" id="street" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">City</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="city" id="city" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Pincode</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="pincode" id="pincode" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">State</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="state" id="state" value="">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn" id="change-password" type="submit">Add</button> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
        <!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function validate(){
            let usernumber = document.getElementById("phone");
            let userhousename = document.getElementById("houseName");
            let userstreet = document.getElementById("street");
            let usercity = document.getElementById("city");
            let userpincode = document.getElementById("pincode");
            let userstate = document.getElementById("state");
            
            const pattern = /^[a-zA-Z0-9\s\-_]+$/;
            const statePattern = /^[a-zA-Z\s]+$/;
            const errorMessageContainer = document.getElementById("error-message-container");


            // Get the entered value
            let trimmedUsernumber = usernumber.value.trim();
            let trimmedUserhousename= userhousename.value.trim();
            let trimmedUserstreet = userstreet.value.trim();
            let trimmedUsercity = usercity.value.trim();
            let trimmedUserpincode = userpincode.value.trim();
            let trimmedUserstate = userstate.value.trim();
            

            if (trimmedUsernumber === "" && trimmedUserhousename === "" && trimmedUserstreet === ""
            && trimmedUsercity === "" && trimmedUserpincode === "" && trimmedUserstate === "") {
                errorMessageContainer.innerText = "Please fill all the fields";
                return false;
            } if (isNaN(trimmedUsernumber) || trimmedUsernumber === "") {
                errorMessageContainer.innerText = "Please enter a valid number";
                return false;
            } if (trimmedUserhousename === "") {
                errorMessageContainer.innerText = "Please fill housename input";
                return false;
            } if (!pattern.test(trimmedUserhousename)) {
                errorMessageContainer.innerText = "Please fill housename correctly";
                return false;
            } if(trimmedUserhousename.length<=7){
                errorMessageContainer.innerText = "Housename should have more than 7 letters";
                return false;
            } if(trimmedUserhousename.length>=30){
                errorMessageContainer.innerText = "Housename should be less than 30 letters";
                return false;//
            }if (!pattern.test(trimmedUserstreet)) {
                errorMessageContainer.innerText = "Please fill Street correctly";
                return false;
            } if(trimmedUserstreet.length<=3){
                errorMessageContainer.innerText = "Street should have more than 3 letters";
                return false;
            } if(trimmedUserstreet.length>=15){
                errorMessageContainer.innerText = "Street should be less than 30 letters";
                return false;//
            } if (!pattern.test(trimmedUsercity)) {
                errorMessageContainer.innerText = "Please fill City correctly";
                return false;
            } if(trimmedUsercity.length<=3){
                errorMessageContainer.innerText = "City should have more than 3 letters";
                return false;
            } if(trimmedUsercity.length>=15){
                errorMessageContainer.innerText = "City should be less than 30 letters";
                return false;
            } if (trimmedUsercity === "") {
                errorMessageContainer.innerText = "Please fill city input";
                return false;
            }  if (trimmedUserstreet === "") {
                errorMessageContainer.innerText = "Please fill street input";
                return false;
            }  if (trimmedUserpincode === "") {
                errorMessageContainer.innerText = "Please fill pincode input";
                return false;
            }  if(isNaN(trimmedUserpincode)){
                errorMessageContainer.innerText = "Please fill pincode correctly!";
                return false;
            }  if (trimmedUserstate === "") {
                errorMessageContainer.innerText = "Please fill state input";
                return false;//
            }   if (!statePattern.test(trimmedUserstate)) {
                errorMessageContainer.innerText = "Please fill State correctly";
                return false;
            } if(trimmedUserstate.length<=3){
                errorMessageContainer.innerText = "State should have more than 3 letters";
                return false;
            } if(trimmedUserstate.length>=15){
                errorMessageContainer.innerText = "State should be less than 30 letters";
                return false;
            }if (trimmedUsernumber.length >= 11) {
                errorMessageContainer.innerText = "Phone number should be 10 digits";
                return false;
            }  if (trimmedUsernumber.length < 10) {
                errorMessageContainer.innerText = "Phone number should be 10 digits";
                return false;
            }if (!/^\d{10}$/.test(trimmedUsernumber)) {
                errorMessageContainer.innerText = "Please enter a valid 10-digit phone number without symbols";
                return false;
            }
                errorMessageContainer.innerText = ""; // Clear previous error messages
                return true;
            
        }


    
</script>
</body>

</html>